<div class="format-actions">
  <button class="format-action" type="button" (click)="handleFormatButtonClick(formatEnums.BOLD)"><b>B</b></button>
  <button class="format-action" type="button" (click)="handleFormatButtonClick(formatEnums.ITALIC)"><i>I</i></button>
  <button class="format-action" type="button" (click)="handleFormatButtonClick(formatEnums.UNDERLINE)"><u>U</u></button>
  <button class="format-action" type="button" (click)="handleFormatButtonClick(formatEnums.FORE_COLOR, '#ff0000')" >Red</button>
  <input [(colorPicker)]="initialColor" [style.background]="initialColor" (mousedown)="handleFormatButtonClick(formatEnums.FORE_COLOR, '#ff0000')" />
  <button class="format-action" type="button" (click)="handleSynonymsButtonClick()">Get Synonyms</button>
</div>
