:host {
  background-color: #fff;
  height: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

.format-actions {
  width: 400px;
  margin-right: 240px;
}

button {
  cursor: pointer;
}

button + button {
  margin-left: 5px;
}
