<ngx-smart-modal #popUpModal [identifier]="'popUpModal'">
  <h3>Select Synonyms for "{{selectedWord}}"</h3>
  <ul class="synonyms">
    <li *ngFor="let synonym of synonymsList | async">
      <span (click)="chooseSynonym(synonym)">{{synonym}}</span>
    </li>
  </ul>
  <button (click)="popUpModal.close()">Close</button>
</ngx-smart-modal>
