.synonyms {
  list-style-type: none;
  margin: 0 0 20px 10px;
  padding: 0;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  li{
    cursor: pointer;
    padding: 4px;
    &:hover{
      background: #f1f0f0;
    }
  }
}
